.users {
    position: relative;

    &__container {
        background-color: #fdfdfd;
        padding: 15px;
        margin-bottom: 15px;
    }

    &__title {
        color: #fdfdfd;
    }
}

.modal {
    background-color: #fdfdfd;
    position: absolute;
    width: 100%;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: all linear 0.3s;

        &:hover, &:focus {
            color: black;
        }
    }

    &__container {
        padding: 15px;
    }
}

.table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    thead {
        background-color: #c4c4c4;
        color: black;
    }


    &__cell {
        padding: 5px 10px;
        text-align: center;

        &--edit button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: all linear 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }

        &:nth-child(1) {
            width: 50% ;
            text-align: left;
        }

        &:nth-child(4) {
            width: 5% ;
        }
    }
}