@font-face {
  font-family: 'Augustea';

  src: url('./fonts/augustea/Augustea.ttf');
  src: url('./fonts/augustea/Augustea.ttf') format('truetype');
}

@font-face {
  font-family: 'Cheltenham';
  src: url('./fonts/cheltenham/cheltenham.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}
body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
.text-center {text-align: center !important;}
p {
	font-size: 16px;
	line-height: 24px;
	margin: 15px 0 30px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #6e665b;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 0;
}