.footer {
  background-color: #2b2625;
  background-image: url(../Contact/noise.png), radial-gradient(ellipse farthest-corner at center center , #423737 10%, #2b2625 60%);
  padding: 50px 0 0 0;

  &__main {
    display: flex;
    flex-wrap: wrap;

  }

  &__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
    font-size: 15px;
    color: rgba(255,255,255,0.8);
  }

  &__social {
    padding: 20px 0;
    background: #161616;
    margin-top: 50px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @media screen and (min-width: 500px) {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
      }
    }

    &__link {
      color: #fff;
      text-decoration: none;
      display: inline-flex;
      gap: 10px;
      align-items: center;

      &:hover, &:focus {
        opacity: 0.8;
      }
    }
  }

  &__bottom {
    position: relative;
  }

  &__copyright {
    padding: 15px 0 45px 0;
    margin: 0;
    text-align: center;

    @media screen and (min-width: 560px) {
      padding: 15px 0;
    }
  }

  &__connect {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-bottom: 15px;
    color: #777;
    opacity: 0.5;
    text-decoration: none;

    @media screen and (min-width: 560px) {
      bottom: 0;
      right: 0;
      padding: 0 15px 15px 0;
      width: auto;
    }
  }
}